<div class="container-fluid" id="body">
        {{panelDisplay panels}}
</div>
<script>
    $(document).ready(function(){
        $("#open").click(function(){
            $.post('/panel/add', function(){
                location.href = '/';
            });
        });
    });
    
    function renamePanel(id, name){
      $.post('/panel/rename/', {id: id, name: name}, function(){
        location.href = '/';
      });
    };
    
    function removePanel(id){
      $.post('/panel/remove/', {id: id}, function(){
        location.href = '/';
      });
    };
    
</script>