<div class="container-fluid" id="body">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span>Test Panel 
                        <div class="dropdown edit">
                          <button class="btn btn-default dropdown-toggle" type="button" id="edit1" data-toggle="dropdown" aria-expanded="true">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="label label-success"><span class="glyphicon glyphicon-plus"></span></span> Add Link</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="label label-success"><span class="glyphicon glyphicon-pencil"></span></span> Rename</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="label label-success"><span class="glyphicon glyphicon-copy"></span></span> Copy</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="label label-danger"><span class="glyphicon glyphicon-trash"></span></span> Delete</a></li>
                          </ul>
                        </div>
                    </span>
                </div>
                <div class="panel-body">
                    <p>This is a test</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p>Test Panel</p>
                </div>
                <div class="panel-body">
                    <p>This is a test</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <p>Test Panel</p>
                </div>
                <div class="panel-body">
                    <p>This is a test</p>
                </div>
            </div>
        </div>

    </div>
</div>