<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{{title}}}</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="/stylesheets/style.css" rel="stylesheet" />
        <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
        <!--<link href="/stylesheets/themes/base/jquery.ui.all.css" rel="stylesheet" />-->
        <link href="/stylesheets/jquery-ui.theme.css" rel="stylesheet" />
        <link href="/stylesheets/jquery-ui.structure.css" rel="stylesheet" />
        <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet" />
        <script src="/javascripts/jquery-1.9.1.js"></script>
        <script src="/javascripts/jquery-ui-1.8.24.js"></script>
        <script src="/javascripts/knockout-2.2.0.js"></script>
    </head>
    <body>
        <header>
            <div class="float-left">
                <div ><span class="site-title2">Wall of&nbsp;</span><span class="site-title">Links</span></div>
            </div>
            <div><button class="btn btn-default" id="open">Add Panel</button></div>
        </header>
        <div id="" class="page">
            {{{body}}}
        </div>
        <footer>
            <div class="float-left">
                <p>Wall of Links &copy;</p>
            </div>
        </footer>
        
        <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>